.bookingCard {
  /* background-color: aqua; */
  border: solid black;
  padding: 10px;
}
.bookingsContainer {
  /* background-color: yellowgreen; */
  display: flex;
  gap: 10px;
}
.createBookingErrors {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
