.outsideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotContainer {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  width: 90%;
}

.spotName {
  width: fit-content;
  padding: 10px;
  padding-left: 0px;
}

.titleBar {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  gap: 10px;
}

.previewImages:first-child {
  min-width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.previewImages {
  width: 33.333%;
  height: 200px;
  object-fit: cover;
}

.imageContainer {
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
}

.detailsContainer {
  /* background-color: gray; */
  max-width: 65%;
  flex-direction: column;
}

.ownerProfile {
  margin-left: 5px;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: rgb(218, 206, 206); /* Modern Browsers */
  width:60%;
  margin:20px 0px;
}

.reviewsInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: aqua; */
}

.reviewInput {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

textarea {
  resize: none;
  height: 75px;
  margin-top: 0px;
}

.bookingContainer {
  box-shadow: 0px 0px 10px rgb(197, 187, 187);
  border: solid antiquewhite;
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  top: 1050px;
  right: 50px;
  width: 30%;
  background-color: white;
  align-self: flex-start;
  border-radius: 5%;
}

.mapnbooking {
  display: flex;
  justify-content: space-between;
}

.bookingContainer h2 {
  margin: 20px 0px 0px 20px;
}

.bookingDetails {
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  padding: 10px 0px 20px 20px;
}

.bookingDetails * {
  margin: 0;
}

.notBold {
  font-weight: normal;
}

.editButton, .deleteButton {
  width: 100px;
  height: 100px;
}

.createBookingErrors,
.createReviewErrors {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.createReviewErrors {
  align-items: flex-start;
}

.createBookingErrors *,
.createReviewErrors * {
  color: #6f30c2;
  font-weight: bold;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.bookingForm * {
  max-width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: medium;
}

.noUserWarning {
  padding-bottom: 20px;
}

.editButton, .deleteButton {
  width: 100px;
  height: 60px;
  font-size: large;
  border: none;
  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}

#reviewerName {
  margin-left: 10px;
  font-size: large;
}

#reviewDate {
  position: relative;
  right: -20px;
}

#reviewImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#reviewDeleteButton {
  border: none;
  cursor: pointer;
  position: relative;
  left: 10px;
  padding: 10px;
  font-size: medium;
}

#basicButton {
  border: none;
  cursor: pointer;
  position: relative;
  padding: 10px;
  font-size: medium;
}

#bookButton {
  border: none;
  cursor: pointer;
}
