.signupModal {
  /* background-color: aqua; */
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.signupErrors {
  /* background-color: aquamarine; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: fit-content;
}

.signupContainer {
  width: 400px;
  height: 60vh;
  overflow: scroll;
}

.signupErrors * {
  color: #6f30c2;
  font-weight: bold;
}
