.createSpotModal {
  /* background-color: aqua; */
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.createSpotErrors {
  /* background-color: aquamarine; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: fit-content;
}

.createSpotContainer {
  width: 400px;
}
