.createSpotModal {
  /* background-color: aqua; */
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.createSpotModal * {
  width: 40%;
}

.createSpotErrors {
  /* background-color: aquamarine; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: fit-content;
}

.createSpotErrors {
  color: #6f30c2;
  font-weight: bold;
}

#description {
  overflow: scroll;
}

.createSpotContainer {
  width: 600px;
}
