.loginModal {
  /* background-color: aqua; */
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.loginErrors {
  /* background-color: aquamarine; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: fit-content;
}

.loginContainer {
  width: 400px;
}

.loginErrors * {
  color: #6f30c2;
  font-weight: bold;
}
